.profile {
  width: 100%;
  padding: 20px;

  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  background-color: #fff;
  border-radius: 20px;
}
.profile__card h4 {
  border: 1px solid var(--green);
  margin-bottom: 10px;
  padding: 10px;
}